<?xml version="1.0"?>
<robot
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://www.ros.org/wiki/xacro"
    name="sim_biotac_motorhand_1">

    <xacro:include filename="$(find sr_description)/hand/xacro/hand.urdf.xacro" />
    <!-- <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro"/> -->
    <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro" />
    <!-- <xacro:include filename="$(find sr_description)/other/xacro/gazebo/gazebo.urdf.xacro"/> -->
    <!-- /home/user/projects/shadow_robot/base/src/sr_common/sr_description/other/xacro/gazebo.urdf.xacro -->
    <!-- <xacro:shadowhand muscletrans="false" muscle="false" bio="true" bt_sp="false" ubi="false" eli="false" reflect="1.0" prefix="rh_" lf="true" /> -->

    <!-- added xacro for xacro:shadowhand in ur10 arm file // This does not work -->
    <!-- /home/user/projects/shadow_robot/base/src/sr_interface/sr_multi_description/urdf/for_moveit/srhand_ur10arm.urdf.xacro -->
    <!-- <xacro:include filename="$(find sr_interface)/sr_multi_description/urdf/for_moveit/srhand_ur10arm.urdf.xacro" /> -->

    <!-- comment out, does this work? This is the hand xacro -->
    <!-- <xacro:shadowhand muscletrans="false" muscle="false" bio="true" bt_sp="false" ubi="false" eli="false" reflect="1.0" prefix="rh_" /> -->

    <link name="world"/>
    <joint name="rh_world_joint" type="fixed">
        <parent link="world"/>
        <child link="rh_forearm"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <gazebo>
        <plugin filename="libsim_biotac.so" name="sim_biotac">
            <alwaysOn>
                true</alwaysOn>
            <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>

</robot>